
<!--<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Name:
      <input [ngClass]="{'error': isValid('firstName')}"class="form-control" formControlName="firstName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Surname:
      <input [ngClass]="{'error': isValid('lastName')}"class="form-control" formControlName="lastName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Email:
      <input [ngClass]="{'error': isValid('email')}"class="form-control" type="email" formControlName="email">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Password:
      <input [ngClass]="{'error': isValid('password')}" class="form-control" type="password" formControlName="password">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Confirm Password:
      <input [ngClass]="{'error': isValid('confirmPassword')}" class="form-control" type="password" formControlName="confirmPassword">
    </label>
  </div>
  <br>
    <span *ngIf="form.errors?.mismatchedFields">Pasword do not match</span>
    <br>
    <button class="btn-primary">Register</button>
 
</form>-->


<md-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-input-container>
        <input [ngClass]="{'error': isValid('firstName')}" style="width:350px" mdInput placeholder="FirstName" formControlName="firstName">
      </md-input-container>
      <md-input-container>
        <input [ngClass]="{'error': isValid('lastName')}" style="width:350px" mdInput placeholder="LastName" formControlName="lastName">
      </md-input-container>
      <md-input-container>
        <input [ngClass]="{'error': isValid('email')}" style="width:350px" mdInput placeholder="Email"type="email" formControlName="email">
      </md-input-container>
      <md-input-container>
        <input [ngClass]="{'error': isValid('password')}" style="width:350px" mdInput placeholder="Password" type="password" formControlName="password">
      </md-input-container>
      <md-input-container>
        <input [ngClass]="{'error': isValid('confirmPassword')}" style="width:350px" mdInput placeholder="ConfirmPassword" type="password" formControlName="confirmPassword">
      </md-input-container>
      <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
      <br>
      <button md-raised-button color="primary">REGISTER</button>
    </form>
</md-card>

